@charset "utf-8";

@import "variable";

html{
  // 62.5%と同じ意味remは10分の1でOK
  font-size: 10px;

}


// 下線
a{
  text-decoration:none;
  cursor: pointer;
  // color: black;
}

img{
  display: block;
  max-width: 100%;
  height: auto;
  object-fit: cover;
}



.header,
.background__color,
.footer{
  background: $bg_colorMain;
}


