@charset "utf-8"; 

$font_colorBody: #000000;
$font_colorPrimary: #101010;
$font_colorSecondary: #222222;
$font_colorTertiary: #030303;
$font_colorQuaternary: #020202;
$bg_colorMain: #C4CCEB;
$bg_colorSub: #ffffff;
$bg_colorShadow: #000000;
$pseudoElement_color:#707070;








